<%#
<form action="/users" method="post" accept-charset="UTF-8">
  <label for="uname">Username</label>
  <input type="text" id = "uname" name = "user[username]">
  <label for="mail">Email</label>
  <input type="text" id = "mail" name = "user[email]">
  <label for="pword">Password</label>
  <input type="password" name="user[password]" id="pword">
  <input type="submit" value="submit">
</form>
%>
<!--
<%= form_tag("/users", method: "post") do %>
<%= label_tag('username', "Username")%>
<%= text_field_tag('username') %>
<%= label_tag('email', "Email")%>
<%= text_field_tag('email')%>
<%= label_tag('password', "password")%>
<%= password_field_tag('password')%>
<%= submit_tag("Submit")%>
<% end %>
-->
<%= form_with model: @user do |form|%>
<%= label_tag(:user_name, 'Username: ')%>
<%= form.text_field :name, value: "Your Username"%>
<%= label_tag(:user_email, 'Email: ')%>
<%= form.text_field :email, value: "example@gmail.com"%>
<%= label_tag(:user_password, 'Password: ')%>
<%= form.text_field :password, value: "password"%>
<%= form.submit "Create"%>
<% end %>
